{% extends 'AKSubmission/submission_base.html' %}

{% load i18n %}
{% load fontawesome_5 %}
{% load tz %}

{% load tags_AKSubmission %}
{% load tags_AKModel %}


{% block title %}{% trans "AKs" %}: {{ ak.event.name }} - {% trans "AK" %}: {{ ak.name }}{% endblock %}

{% block meta %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ak.name}} ({{ak.event.name }})" />
    <meta name="twitter:description" content="{{ ak.description }}" />
{% endblock %}

{% block breadcrumbs %}
    {% include "AKSubmission/submission_breadcrumbs.html" %}
    <li class="breadcrumb-item"><a
            href="{% url 'submit:submission_overview' event_slug=ak.event.slug %}">{% trans "AK Submission" %}</a></li>
    <li class="breadcrumb-item active">{{ ak.name }}</li>
{% endblock %}

{% if 'AKPlan'|check_app_installed %}
    {% block imports %}
        {% include "AKPlan/plan_akslot.html" %}
    {% endblock %}
{% endif %}

{% block content %}
    {% include "messages.html" %}

    <div class="text-right">
        {% if ak.interest_counter >= 0 %}
            {% trans 'Interest' %}: <b class='mx-1 text-muted'>{{ ak.interest_counter }}</b>
            {% if ak.event.active %}
                <a href="{% url 'submit:inc_interest' event_slug=ak.event.slug pk=ak.pk %}" data-toggle="tooltip"
                   title="{% trans 'Show Interest' %}"
                   class="btn btn-primary">{% fa5_icon 'thumbs-up' 'fas' %}</a>
            {% endif %}
        {% endif %}
        {% if ak.link != "" %}
            <a href="{{ ak.link }}" data-toggle="tooltip"
               title="{% trans 'Open external link' %}"
               class="btn btn-info">{% fa5_icon 'external-link-alt' 'fas' %}</a>
        {% endif %}
        {% if ak.protocol_link != "" %}
            <a href="{{ ak.protocol_link }}" data-toggle="tooltip"
               title="{% trans 'Open protocol link' %}"
               class="btn btn-warning">{% fa5_icon 'file-alt' 'far' %}</a>
        {% endif %}
        <a href="{% url 'submit:ak_history' event_slug=ak.event.slug pk=ak.pk %}"
           data-toggle="tooltip"
           title="{% trans 'History' %}" class="btn btn-light">{% fa5_icon 'clock' 'fas' %}</a>
        {% if ak.event.active %}
            <a href="{% url 'submit:akmessage_add' event_slug=ak.event.slug pk=ak.pk %}" data-toggle="tooltip"
               title="{% trans 'Add confidential message to organizers' %}"
               class="btn btn-warning">{% fa5_icon 'envelope' 'fas' %}</a>
            <a href="{% url 'submit:ak_edit' event_slug=ak.event.slug pk=ak.pk %}" data-toggle="tooltip"
               title="{% trans 'Edit' %}"
               class="btn btn-success">{% fa5_icon 'pencil-alt' 'fas' %}</a>
        {% endif %}
    </div>

    <h2>{% if ak.wish %}{% trans "AK Wish" %}: {% endif %}{{ ak.name }}</h2>

    {# Show current or upcoming slot featured in a box on top of the plage #}
    {% if featured_slot_type != "NONE" %}
        <div class="card border-success mt-3 mb-3">
            <div class="card-body font-weight-bold">
                {% if featured_slot_type == "CURRENT" %}
                    {% blocktrans with room=featured_slot.room %}
                        This AK currently takes place for another {{ featured_slot_remaining }} minute(s) in {{ room }}.
                        &nbsp;
                    {% endblocktrans %}

                {% elif featured_slot_type == "UPCOMING" %}
                    {% blocktrans with room=featured_slot.room %}
                        This AK starts in {{ featured_slot_remaining }} minute(s) in {{ room }}.&nbsp;
                    {% endblocktrans %}
                {% endif %}

                {% if "AKOnline"|check_app_installed and featured_slot.room.virtualroom and featured_slot.room.virtualroom.url != '' %}
                    <a class="btn btn-success" href="{{ featured_slot.room.virtualroom.url }}">
                        {% fa5_icon 'external-link-alt' 'fas' %} {% trans "Go to virtual room" %}
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <table class="table table-borderless">
        <tr>
            <td>{% trans "Who?" %}</td>
            <td>
                {% include "AKSubmission/owners_list.html" with owners=ak.owners %}
            </td>
        </tr>
        <tr>
            <td>{% trans 'Category' %}</td>
            <td>
                {% category_linked_badge ak.category ak.event.slug %}
            </td>
        </tr>
        {% if ak.track %}
            <tr>
                <td>{% trans 'Track' %}</td>
                <td>{{ ak.track }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>{% trans "Present this AK" %}</td>
            <td>{{ ak.present | bool_symbol }}</td>
        </tr>
        <tr>
            <td>{% trans "Tags" %}</td>
            <td>
                {% tag_list ak.tags.all ak.event.slug %}
            </td>
        </tr>
        <tr>
            <td>{% trans "Reso?" %}</td>
            <td>
                {{ ak.reso | bool_symbol }}
            </td>
        </tr>
        {% if ak.requirements.count > 0 %}
            <tr>
                <td>{% trans "Requirements" %}</td>
                <td>
                    {% for requirement in ak.requirements.all %}
                        {% if forloop.counter0 > 0 %}
                            ,&nbsp;
                        {% endif %}
                        {{ requirement }}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        {% if ak.conflicts.count > 0 %}
            <tr>
                <td>{% trans "Conflicting AKs" %}</td>
                <td>
                    {% include "AKSubmission/ak_linked_list_inline.html" with aks=ak.conflicts slug=ak.event.slug %}
                </td>
            </tr>
        {% endif %}
        {% if ak.prerequisites.count > 0 %}
            <tr>
                <td>{% trans "Prerequisite AKs" %}</td>
                <td>
                    {% include "AKSubmission/ak_linked_list_inline.html" with aks=ak.prerequisites slug=ak.event.slug %}
                </td>
            </tr>
        {% endif %}
        {% if ak.notes %}
            <tr>
                <td>{% trans "Notes" %}</td>
                <td>{{ ak.notes }}</td>
            </tr>
        {% endif %}
    </table>

    <p style="margin-top: 30px;margin-bottom: 30px;">{{ ak.description|linebreaks }}</p>


    {% if 'AKPlan'|check_app_installed %}
        <div id='akSlotCalendar' style="margin-bottom: 50px;"></div>
    {% endif %}


    <table class="table">
        <thead>
        <tr>
            <th>{% trans "Duration" %}</th>
            {% if not ak.event.plan_hidden or user.is_staff %}
                <th>{% trans "When?" %}</th>
                <th>{% trans "Room" %}</th>
            {% endif %}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for slot in ak.akslot_set.all %}
            <tr>
                <td>{{ slot.duration }}</td>
                {% if not ak.event.plan_hidden or user.is_staff %}
                    <td>{{ slot.time_simplified }}</td>
                    <td>
                        {% if "AKPlan"|check_app_installed and slot.room %}
                            <a href="{% url 'plan:plan_room' event_slug=ak.event.slug pk=slot.room.pk %}">{{ slot.room }}</a>
                        {% else %}
                            {{ slot.room }}
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    {% if not slot.start %}
                        <a href="{% url 'submit:akslot_edit' event_slug=ak.event.slug pk=slot.pk %}"
                           data-toggle="tooltip" title="{% trans 'Edit' %}"
                           class="btn btn-success">{% fa5_icon 'pencil-alt' 'fas' %}</a>
                        <a href="{% url 'submit:akslot_delete' event_slug=ak.event.slug pk=slot.pk %}"
                           data-toggle="tooltip" title="{% trans 'Delete' %}"
                           class="btn btn-danger">{% fa5_icon 'times' 'fas' %}</a>
                    {% else %}
                        {% if "AKOnline"|check_app_installed and slot.room and slot.room.virtualroom and slot.room.virtualroom.url != '' %}
                            <a class="btn btn-success" href="{{ slot.room.virtualroom.url }}">
                                {% fa5_icon 'external-link-alt' 'fas' %} {% trans "Go to virtual room" %}
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if user.is_staff %}
                        <a href="{% url 'admin:AKModel_akslot_change' slot.pk %}"
                           data-toggle="tooltip" title="{% trans 'Schedule' %}"
                           class="btn btn-outline-success">{% fa5_icon 'stream' 'fas' %}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if ak.event.active %}
        <div class="">
            <a href="{% url 'submit:akslot_add' event_slug=ak.event.slug pk=ak.pk %}"
               class="btn btn-success">{% fa5_icon 'plus' 'fas' %} {% trans "Add another slot" %}</a>
        </div>
    {% endif %}

    <h4 style="margin-top: 30px;">{% trans "Possible Times" %}</h4>
    <table class="table">
        <thead>
        <tr>
            <th>{% trans "Start" %}</th>
            <th>{% trans "End" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for a in availabilities %}
            <tr>
                <td>{{ a.start | timezone:event.timezone | date:"l H:i"  }}</td>
                <td>{{ a.end | timezone:event.timezone | date:"l H:i" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
