{% extends 'AKSubmission/submit_new.html' %}

{% load i18n %}
{% load bootstrap4 %}
{% load fontawesome_5 %}
{% load static %}

{% block title %}{% trans "AKs" %}: {{ event.name }} - {% trans "Edit AK" %}: {{ ak.name }}{% endblock %}

{% block breadcrumbs %}
    {% include "AKSubmission/submission_breadcrumbs.html" %}
    <li class="breadcrumb-item"><a
            href="{% url 'submit:submission_overview' event_slug=event.slug %}">{% trans "AK Submission" %}</a></li>
    <li class="breadcrumb-item"><a
            href="{% url 'submit:ak_detail' event_slug=event.slug pk=ak.pk %}">{{ ak.short_name }}</a></li>
    <li class="breadcrumb-item active">{% trans "Edit" %}</li>
{% endblock %}

{% block form_contents %}
    {% bootstrap_field form.name %}
    <div class="form-group">
        {% bootstrap_field form.owners form_group_class="" %}
        <a href="{% url 'submit:akowner_create' event_slug=event.slug %}?add_to_existing_ak={{ ak.pk }}">
            {% fa5_icon "plus" "fas" %} {% trans "Add person not in the list yet. Unsaved changes in this form will be lost." %}
        </a>
    </div>
    {% bootstrap_form form exclude='name,owners' %}
{% endblock %}


{% block headline %}
    <h2>{% trans 'Edit AK' %}</h2>
{% endblock %}
