{% extends 'AKSubmission/submit_new.html' %}

{% load i18n %}
{% load bootstrap4 %}
{% load fontawesome %}
{% load staticfiles %}

{% block title %}{% trans "AKs" %}: {{ event.name }} - {% trans "Edit AK" %}: {{ ak.name }}{% endblock %}

{% block breadcrumbs %}
    {% include "AKSubmission/breadcrumbs_submission.html" %}
    <li class="breadcrumb-item"><a
            href="{% url 'submit:submission_overview' event_slug=event.slug %}">{% trans "AK Submission" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'submit:ak_detail' event_slug=event.slug pk=ak.pk %}">{{ ak.short_name }}</a></li>
    <li class="breadcrumb-item active">{% trans "Edit" %}</li>
{% endblock %}


{% block headline %}
    <h2>{% trans 'Edit AK' %}</h2>
{% endblock %}
