{% extends 'AKSubmission/submission_base.html' %}
{% load tz %}

{% load i18n %}
{% load fontawesome_6 %}

{% load tags_AKSubmission %}
{% load tags_AKModel %}


{% block title %}{% trans "AKs" %}: {{ ak.event.name }} - {% trans "AK" %}: {{ ak.name }}{% endblock %}

{% block breadcrumbs %}
    {% include "AKSubmission/submission_breadcrumbs.html" %}
    <li class="breadcrumb-item"><a
            href="{% url 'submit:submission_overview' event_slug=ak.event.slug %}">{% trans "AK Submission" %}</a></li>
    <li class="breadcrumb-item"><a
            href='{% url 'submit:ak_detail' event_slug=ak.event.slug pk=ak.pk %}'>{{ ak.short_name }}</a></li>
    <li class="breadcrumb-item active">{% trans 'History' %}</li>
{% endblock %}

{% block content %}
    {% include "messages.html" %}

    <div class="float-end">
        <a href='{% url 'submit:ak_detail' event_slug=ak.event.slug pk=ak.pk %}' data-bs-toggle="tooltip"
           title="{% trans 'Back' %}"
           class="btn btn-info">{% fa6_icon 'arrow-circle-left' 'fas' %}</a>
    </div>

    <h2>{% if ak.wish %}{% trans "AK Wish" %}: {% endif %}{{ ak.name }} ({% trans 'History' %})</h2>
    <table id="akTable" class="table table-striped">
        <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans 'Category' %}</th>
            <th>{% trans 'Track' %}</th>
            <th>{% trans 'Time' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for h in ak.history.all %}
            <tr>
                <td>
                    <b>{{ h.name }}</b>
                    {% if h.present %}
                        <span class="badge bg-dark rounded-pill"
                              title="{% trans 'Present results of this AK' %}">{% fa6_icon "bullhorn" 'fas' %}</span>
                    {% endif %}
                    {% if h.reso %}
                        <span class="badge bg-dark rounded-pill"
                              title="{% trans 'Intends to submit a resolution' %}">{% fa6_icon "scroll" 'fas' %}</span>
                    {% endif %}
                </td>
                <td>{% category_linked_badge h.category event.slug %}</td>
                <td><span class="badge bg-success rounded-pill">{{ h.track }}</span></td>
                <td>{{ h.history_date | timezone:ak.event.timezone | date:"Y-m-d H:i:s" }}</td>
            </tr>
            <tr>
                <td colspan="4" class="small">{{ h.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
