{% load i18n %}
{% load fontawesome %}

<table id="akTable" class="table table-striped">
  <thead>
  <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Who?" %}</th>
      <th>{% trans 'Category' %}</th>
      <th>{% trans "Tags" %}</th>
      <th></th>
  </tr>
  </thead>
  <tbody>
    {% for ak in AKs %}
        <tr>
            <td>
                <b>{{ ak.name }}</b>
                <span class="badge badge-dark badge-pill" title="{% trans 'Present AK' %}">{% fontawesome_icon "bullhorn" %}</span>
                {% if ak.reso %}
                <span class="badge badge-dark badge-pill" title="{% trans 'Reso' %}">{% fontawesome_icon "scroll" %}</span>
                {% endif %}
            </td>
            <td>{{ ak.owners_list }}</td>
            <td><a href="{% url 'submit:ak_list_by_category' event_slug=event.slug category_pk=ak.category.pk %}"><span
                    class="badge badge-primary">{{ ak.category }}</span></a></td>
            <td>
                {% for tag in ak.tags.all %}
                    <a href="{% url 'submit:ak_list_by_tag' event_slug=event.slug tag_pk=tag.pk %}"><span class="badge badge-info">{{ tag }}</span></a>
                {% endfor %}
            </td>
            <td class="text-right">
                <a href="{% url 'submit:ak_detail' event_slug=ak.event.slug pk=ak.pk %}" class="btn btn-primary">{%  fontawesome_icon 'info' %}</a>
                {% if ak.link != "" %}
                    <a href="{{ ak.link }}" class="btn btn-info">{%  fontawesome_icon 'external-link-alt' %}</a>
                {% endif %}
                <a href="#" class="btn btn-success">{%  fontawesome_icon 'pencil-alt' %}</a>
            </td>
        </tr>
        <tr>
            <td colspan="5" class="small">{{ ak.description }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
