{% load i18n %}

<div class="float-end">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'submit:ak_list' event_slug=event.slug %}">{% trans "All AKs" %}</a>
        </li>
        {% if event.aktrack_set.count > 0 %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">{% trans "Tracks" %}</a>
                <div class="dropdown-menu" style="">
                    {% for track in event.aktrack_set.all %}
                        <a class="dropdown-item"
                           href="{% url 'submit:ak_list_by_track' event_slug=event.slug track_pk=track.pk %}">
                            {{ track }}</a>
                    {% endfor %}
                </div>
            </li>
        {% endif %}
        {% if show_types %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">{% trans "Types" %}</a>
                <div class="dropdown-menu" style="">
                    {% for type in event.aktype_set.all %}
                        <a class="dropdown-item"
                           href="{% url 'submit:ak_list_by_type' event_slug=event.slug type_slug=type.slug %}">
                            {{ type }}</a>
                    {% endfor %}
                </div>
            </li>
        {% endif %}
    </ul>
</div>

<h2>{{ table_title }}</h2>

<noscript>
    {% include "AKSubmission/ak_table.html" %}
</noscript>

<ul class="nav nav-tabs" style="margin-bottom:15px">
    {% for category, _ in categories_with_aks %}
        <li class="nav-item">
            <a class="nav-link {% if category.name == active_category %}active{% endif %}" data-bs-toggle="tab"
               href="#category_{{ category.pk }}">{{ category.name }}</a>
        </li>
    {% endfor %}
</ul>

<div id="akListTabbed" class="tab-content">
    {% for category, AKs in categories_with_aks %}
        <div class="tab-pane fade {% if category.name == active_category %}show active{% endif %}" id="category_{{ category.pk }}">
            <p><b>{{ category.name }}:</b> {{ category.description }}</p>
            {% include "AKSubmission/ak_table.html" %}
        </div>
    {% endfor %}
</div>
