{% extends 'AKSubmission/base_submission.html' %}

{% load i18n %}
{% load fontawesome %}

{% load tags_AKSubmission %}

{% block title %}{% trans "AKs" %}: {{ event.name }} - {% trans "AKs" %}{% endblock %}

{% block imports %}
<style>
/* Prevent wrapping of buttons in AK table */
.table td:nth-child(5) {
    white-space: nowrap;
}
</style>
{% endblock %}

{% block breadcrumbs %}
    {% include "AKSubmission/breadcrumbs_submission.html" %}
    <li class="breadcrumb-item"><a href="{% url 'submit:submission_overview' event_slug=event.slug %}">{% trans "AK Submission" %}</a></li>
    <li class="breadcrumb-item active">{% trans "AKs" %}</li>
{% endblock %}

{% block content %}
    <h1>{{ event.name }}: {% trans "AK Submission" %}</h1>

    <b>{% trans 'Categories' %}:</b>
    {% category_list categories event.slug %}


    <br><br>

    <b>{% trans 'Tags' %}:</b>
    {% tag_list tags.all event.slug %}

    <br><br>

    {% if filter_condition_string != "" %}
        <h2 class="text-secondary">{{ filter_condition_string }}</h2>
    {% endif %}

    {% include "AKSubmission/ak_list_table.html" %}

{% endblock %}
