{% extends 'AKSubmission/submission_base.html' %}

{% load i18n %}
{% load fontawesome_5 %}

{% load tags_AKSubmission %}

{% block title %}{% trans "AKs" %}: {{ event.name }} - {% trans "AKs" %}{% endblock %}

{% block meta %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ event.name }} - {% trans "AKs" %}" />
{% endblock %}

{% block imports %}
    {% include "AKSubmission/ak_interest_script.html" %}
{% endblock %}

{% block breadcrumbs %}
    {% include "AKSubmission/submission_breadcrumbs.html" %}
    <li class="breadcrumb-item"><a
            href="{% url 'submit:submission_overview' event_slug=event.slug %}">{% trans "AK Submission" %}</a></li>
    <li class="breadcrumb-item active">{% trans "AK List" %}</li>
{% endblock %}

{% block content %}
    {% if event.active %}
        <a class="btn btn-success float-right" href="{% url 'submit:submission_overview' event_slug=event.slug %}">
            {% fa5_icon 'plus' 'fas' %} {% trans "Add AK" %}
        </a>
    {% endif %}

    <h1>{% trans "AKs" %}: {{ event.name }}</h1>

    {% include "AKSubmission/ak_list.html" %}
{% endblock %}
