{% load i18n %}
{% load fontawesome_6 %}

{% load tags_AKSubmission %}

<table id="akTable" class="table table-striped">
    <thead>
    <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Who?" %}</th>
        <th>{% trans 'Category' %}</th>
        {% if show_types %}
            <th>{% trans 'Types' %}</th>
        {% endif %}
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for ak in AKs %}
        <tr>
            <td>
                <a href="{{ ak.detail_url }}"
                      class="text-dark text-decoration-none font-weight-bold">
                    {{ ak.name }}
                </a>
                {% if ak.present %}
                    <span class="badge bg-dark rounded-pill"
                          title="{% trans 'Present results of this AK' %}">{% fa6_icon "bullhorn" 'fas' %}</span>
                {% endif %}
                {% if ak.reso %}
                    <span class="badge bg-dark rounded-pill"
                          title="{% trans 'Intends to submit a resolution' %}">{% fa6_icon "scroll" 'fas' %}</span>
                {% endif %}
            </td>
            <td>
                {% if ak.wish %}
                    <span class="badge bg-dark rounded-pill">{% trans "AK Wish" %}</span>
                {% else %}
                    {% include "AKSubmission/owners_list.html" with owners=ak.owners %}
                {% endif %}
            </td>
            <td>{% category_linked_badge ak.category event.slug %}</td>
            {% if show_types %}
                <td>
                    {% for aktype in ak.types.all %}
                        {% type_linked_badge aktype event.slug %}
                    {% endfor %}
                </td>
            {% endif %}
            <td class="text-end" style="white-space: nowrap;">
                <a href="{{ ak.detail_url }}" data-bs-toggle="tooltip"
                   title="{% trans 'Details' %}"
                   class="btn btn-primary">{% fa6_icon 'info' 'fas' %}</a>
                {% if ak.link %}
                    <a href="{{ ak.link }}" data-bs-toggle="tooltip"
                       title="{% trans 'Open external link' %}"
                       class="btn btn-info">{% fa6_icon 'external-link-alt' 'fas' %}</a>
                {% endif %}
                {% if event.active %}
                    <a href="{{ ak.edit_url }}" data-bs-toggle="tooltip"
                       title="{% trans 'Edit' %}"
                       class="btn btn-success">{% fa6_icon 'pencil-alt' 'fas' %}</a>
                    {% if interest_indication_active %}
                        <span data-ak_id="{{ ak.pk }}" data-bs-toggle="tooltip"
                           title="{% trans 'Show Interest' %}"
                           class="btn btn-primary btn-interest" style="cursor: pointer">{% fa6_icon 'thumbs-up' 'fas' %}</span>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="5" class="small">{{ ak.description|linebreaks }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5" class="small">{% trans "There are no AKs in this category yet" %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
