{% extends 'AKSubmission/submission_base.html' %}

{% load i18n %}
{% load django_bootstrap5 %}
{% load fontawesome_6 %}

{% block title %}{% trans "AKs" %}: {{ event.name }} -
    {% trans "Add confidential message to organizers" %}{% endblock %}

{% block breadcrumbs %}
    {% include "AKSubmission/submission_breadcrumbs.html" %}
    <li class="breadcrumb-item"><a
            href="{% url 'submit:submission_overview' event_slug=event.slug %}">{% trans "AK Submission" %}</a></li>
    <li class="breadcrumb-item"><a
            href="{{ ak.detail_url }}">{{ ak.short_name }}</a></li>
    <li class="breadcrumb-item active">{% trans "Add confidential message to organizers" %}</li>
{% endblock %}

{% block content %}
    {% block headline %}
        <h2>{{ ak.name }}</h2>
        <h4 class="mt-3">{% trans 'Add confidential message to organizers' %}</h4>
    {% endblock %}
    <form method="POST" class="post-form">{% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="save btn btn-primary float-end">
            {% fa6_icon "check" 'fas' %} {% trans "Send" %}
        </button>

        <button type="reset" class="btn btn-danger">
            {% fa6_icon "undo-alt" 'fas' %} {% trans "Reset Form" %}
        </button>

        <a href="{{ ak.detail_url }}" class="btn btn-secondary">
            {% fa6_icon "times" 'fas' %} {% trans "Cancel" %}
        </a>
    </form>
{% endblock %}
