{% extends 'AKSubmission/submission_base.html' %}

{% load i18n %}
{% load bootstrap4 %}
{% load fontawesome_5 %}

{% block title %}{% trans "AKs" %}: {{ event.name }} - {% trans "AK Duration(s)" %}{% endblock %}

{% block breadcrumbs %}
    {% include "AKSubmission/submission_breadcrumbs.html" %}
    <li class="breadcrumb-item"><a
            href="{% url 'submit:submission_overview' event_slug=event.slug %}">{% trans "AK Submission" %}</a></li>
    <li class="breadcrumb-item"><a
            href="{% url 'submit:ak_detail' event_slug=event.slug pk=ak.pk %}">{{ ak.short_name }}</a></li>
    <li class="breadcrumb-item active">{% trans "AK Duration(s)" %}</li>
{% endblock %}

{% block content %}
    {% block headline %}
        <h2>{% trans 'AK Duration(s)' %}</h2>
    {% endblock %}
    <form method="POST" class="post-form">{% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="save btn btn-primary float-right">
                {% fa5_icon "check" 'fas' %} {% trans "Continue" %}
            </button>

            <button type="reset" class="btn btn-danger">
                {% fa5_icon "undo-alt" 'fas' %} {% trans "Reset Form" %}
            </button>

            <a href="{% url 'submit:ak_detail' event_slug=event.slug pk=ak.pk %}" class="btn btn-secondary">
                {% fa5_icon "times" 'fas' %} {% trans "Cancel" %}
            </a>
        {% endbuttons %}
    </form>
{% endblock %}
