{% extends 'AKSubmission/submission_base.html' %}

{% load i18n %}
{% load fontawesome_5 %}
{% load static %}

{% block title %}{% trans "AKs" %}: {{ event.name }} - {% trans "AK Submission" %}{% endblock %}

{% block meta %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ event.name }} - {% trans "AK Submission" %}" />
{% endblock %}

{% block imports %}
    <style>
        /* Prevent wrapping of buttons in AK table */
        .table td:nth-child(5) {
            white-space: nowrap;
        }

        /* Make Select2 boxes match Bootstrap heights: */
        .select2-selection__rendered {
          line-height: 32px !important;
        }

        .select2-selection {
          height: 34px !important;
        }
    </style>

    {% include "AKSubmission/ak_interest_script.html" %}

    {% if event.active %}
        <link href="{% static 'common/vendor/select2/select2.min.css' %}" rel="stylesheet" />
        <script src="{% static 'common/vendor/select2/select2.min.js' %}"></script>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% include "AKSubmission/submission_breadcrumbs.html" %}
    <li class="breadcrumb-item active">{% trans "AK Submission" %}</li>
{% endblock %}

{% block content %}
    <h1>{% trans "AKs" %}: {{ event.name }}</h1>

    {% include "messages.html" %}

    {% blocktrans %}On this page you can see a list of current AKs, change them and add new ones.{% endblocktrans %}

    {% if event.active %}
        <div class="jumbotron" style="margin-top:20px;">
            <form method="POST" action="#" class="form-row">
                {% csrf_token %}
                <a href="{% url 'submit:submit_ak_wish' event_slug=event.slug %}" class="btn btn-info">
                    {% trans "New AK Wish" %}
                </a>
                <span style="font-size: 1.5em">
	                    &nbsp;&nbsp; | &nbsp;
	                    <label for="selectOwnerId" class="align-middle d-inline">{% trans "Who" %}:</label>
	                </span>&nbsp;&nbsp;
                <select name="owner_id" id="selectOwnerId" class="">
                    <option value="-1">{% trans "I do not own AKs yet" %}</option>
                    {% for owner in existingOwners %}
                        <option value="{{ owner.pk }}">{{ owner }}</option>
                    {% endfor %}
                </select> &nbsp;&nbsp;
                <input
                        type="submit"
                        class="btn btn-primary"
                        value="{% trans "New AK" %}"
                        formaction="{% url 'submit:akowner_select' event_slug=event.slug %}"
                />&nbsp;&nbsp;
                <input
                        type="submit"
                        class="btn btn-success"
                        value="{% trans 'Edit Person Info' %}"
                        formaction="{% url 'submit:akowner_edit_dispatch' event_slug=event.slug %}"
                />
            </form>
        </div>
    {% else %}
        <div class="alert alert-warning" style="margin-top:20px;margin-bottom: 20px;">
            {% trans "This event is not active. You cannot add or change AKs" %}
        </div>
    {% endif %}

    {% include "AKSubmission/ak_list.html" %}
{% endblock %}

{% block bottom_script %}
    {% if event.active %}
        <script>
            $("#selectOwnerId").select2();
        </script>
    {% endif %}
{% endblock %}
