{% extends 'AKSubmission/submit_new.html' %}

{% load i18n %}
{% load static %}


{% block title %}{% trans "AKs" %}: {{ event.name }} - {% trans "New AK Wish" %}{% endblock %}

{% block imports %}
    <link rel="stylesheet" href="{% static 'common/vendor/chosen-js/chosen.css' %}">
    <link rel="stylesheet" href="{% static 'common/css/bootstrap-chosen.css' %}">
    <link href='{% static 'AKSubmission/vendor/fullcalendar3/fullcalendar.min.css' %}' rel='stylesheet'/>
    <link href='{% static 'AKSubmission/css/availabilities.css' %}' rel='stylesheet'/>

    <script src="{% static "AKSubmission/vendor/moment/moment-with-locales.js" %}"></script>
    <script src="{% static "AKSubmission/vendor/moment-timezone/moment-timezone-with-data-10-year-range.js" %}"></script>
    <script src='{% static 'AKSubmission/vendor/fullcalendar3/fullcalendar.min.js' %}'></script>
    <script src="{% static "common/js/availabilities.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {% include "AKSubmission/submission_breadcrumbs.html" %}
    <li class="breadcrumb-item"><a
            href="{% url 'submit:submission_overview' event_slug=event.slug %}">{% trans "AK Submission" %}</a></li>
    <li class="breadcrumb-item active">{% trans "New AK Wish" %}</li>
{% endblock %}

{% block headline %}
    <h2>{% trans 'New AK Wish' %}</h2>
{% endblock %}