{% extends 'base.html' %}

{% load i18n %}
{% load fontawesome %}

{% block title %}{{ event.slug }} - {% trans "AK Submission" %}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="#">AKPlanning</a></li>
    <li class="breadcrumb-item"><a href="#">{{ event.slug }}</a></li>
    <li class="breadcrumb-item active">{% trans "AK Submission" %}</li>
{% endblock %}

{% block content %}
    <h1>{{ event.name }}: {% trans "AK Submission" %}</h1>

    {% blocktrans %}On this page you can see a list of current AKs, change them and add new ones.{% endblocktrans %}

    <div class="jumbotron" style="margin-top:20px;">
        <h2>{% trans "Submit" %}</h2>
        <a href="{% url 'submit:submit_ak' event_slug=event.slug %}" class="btn btn-primary">{% trans "New AK" %}</a>
        <a href="#" class="btn btn-info">{% trans "New AK Wish" %}</a>
    </div>


    <h2>{% trans "Current AKs" %}</h2>

    {% include "AKSubmission/ak_list_table.html" %}

{% endblock %}
