{% extends 'AKSubmission/submission_base.html' %}

{% load i18n %}
{% load django_bootstrap5 %}
{% load fontawesome_6 %}
{% load static %}
{% load tz %}

{% block title %}{% trans "AKs" %}: {{ event.name }} - {% trans "New AK" %}{% endblock %}

{% block imports %}
    {% include "AKModel/load_fullcalendar_availabilities.html" %}

    <script>
        {% get_current_language as LANGUAGE_CODE %}

        document.addEventListener('DOMContentLoaded', function () {
            createAvailabilityEditors(
                '{{ event.timezone }}',
                '{{ LANGUAGE_CODE }}',
                '{{ event.start | timezone:event.timezone | date:"Y-m-d H:i:s" }}',
                '{{ event.end | timezone:event.timezone | date:"Y-m-d H:i:s" }}'
            );
        });
    </script>


    <style>
        #id_description_helptext::after {
            content: " ({% trans "" %})";
            color: #6c757d;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    {% include "AKSubmission/submission_breadcrumbs.html" %}
    <li class="breadcrumb-item"><a
            href="{% url 'submit:submission_overview' event_slug=event.slug %}">{% trans "AK Submission" %}</a></li>
    <li class="breadcrumb-item"><a
            href="{% url 'submit:akowner_edit' event_slug=event.slug slug=owner.slug %}">{{ owner.slug }}</a></li>
    <li class="breadcrumb-item active">{% trans "New AK" %}</li>
{% endblock %}

{% block content %}
    {% include "messages.html" %}

    {% block headline %}
        <h2>{% trans 'New AK' %}</h2>
    {% endblock %}
    <div id="app">
        <form method="POST" class="post-form" id="formAK" @submit.prevent="handleSubmit">{% csrf_token %}
            {% block form_contents %}
                {#  Generate form, but make sure availabilities are always at the bottom #}
                {% bootstrap_form form exclude='availabilities' %}
                {% bootstrap_field form.availabilities form_group_class="" %}
            {% endblock %}
            <button type="submit" class="save btn btn-primary float-end">
                {% fa6_icon "check" 'fas' %} {% trans "Submit" %}
            </button>

            <button type="reset" class="btn btn-danger">
                {% fa6_icon "undo-alt" 'fas' %} {% trans "Reset Form" %}
            </button>

            <a href="{% url 'submit:submission_overview' event_slug=event.slug %}" class="btn btn-secondary">
                {% fa6_icon "times" 'fas' %} {% trans "Cancel" %}
            </a>
        </form>

        {# Modal for confirmation #}
        <div class="modal fade" id="akWarningModal" tabindex="-1" aria-labelledby="akWarningModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="akWarningModalLabel">{% trans "Continue with that name?" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
                    </div>
                    <div class="modal-body">
                        {% blocktrans %}
                            Your AK name (or short name) starts with or contains the word "AK".<br><br>
                            This is not recommended, as it makes the names longer, and may create an inconsistent style.
                            The tool will ensure that one always know that a title belongs to an AK even without that
                            prefix.
                            <br><br>
                            Do you still want to use that name?
                        {% endblocktrans %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"
                                data-bs-dismiss="modal">{% trans "Change name" %}</button>
                        <button type="button" class="btn btn-warning"
                                @click="proceedSubmit">{% trans "Proceed with saving" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_script %}
    <script src="{% static 'common/vendor/chosen-js/chosen.jquery.js' %}"></script>
    <script>
        $(function () {
            $('.chosen-select').chosen();
        });
    </script>
{% endblock %}
