{% extends 'AKSubmission/submit_new.html' %}

{% load i18n %}

{% block title %}{% trans "AKs" %}: {{ event.name }} - {% trans "New AK Wish" %}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="#">AKPlanning</a></li>
    <li class="breadcrumb-item"><a href="#">{{ event.slug }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'submit:submission_overview' event_slug=event.slug %}">{% trans "AK Submission" %}</a></li>
    <li class="breadcrumb-item active">{% trans "New AK Wish" %}</li>
{% endblock %}

{% block headline %}
    <h2>{% trans 'New AK Wish' %}</h2>
{% endblock %}