{% extends "admin/base_site.html" %}
{% load tags_AKModel %}

{% load i18n %}
{% load django_bootstrap5 %}
{% load fontawesome_5 %}
{% load tz %}

{% block title %}{% trans "New event wizard" %}: {{ wizard_step_text }}{% endblock %}

{% block content %}
    {% include "admin/AKModel/event_wizard/wizard_steps.html" %}

    <div class="text-center btn-success disabled mt-3 mb-3" style="font-size: 8em;">
        {% fa5_icon "copy" "fas" %}
    </div>

    <h5 class="mb-3">{% trans "Successfully imported.<br><br>Do you want to activate your event now?" %}</h5>

    {{ form.media }}

    <form method="post">{% csrf_token %}
        {% bootstrap_form form %}

        <div class="float-end">
            <button type="submit" class="save btn btn-success" value="Submit">
            {% fa5_icon "check" 'fas' %} {% trans "Finish" %}
        </button>
        </div>

        <a href="{% url 'admin:event_status' event.slug %}" class="btn btn-info">
            {% fa5_icon "info" 'fas' %} {% trans "Status" %}
        </a>
    </form>

{% endblock %}
