{% extends "admin/base_site.html" %}
{% load tags_AKModel %}

{% load i18n %}
{% load django_bootstrap5 %}
{% load fontawesome_6 %}
{% load tz %}

{% block title %}{% trans "New event wizard" %}: {{ wizard_step_text }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block content %}
    {% include "admin/AKModel/event_wizard/wizard_steps.html" %}

    {% timezone timezone %}

    <form method="post">{% csrf_token %}
        {% bootstrap_form form %}

        <button type="submit" class="save btn btn-success float-end" value="Submit">
            {% fa6_icon "check" 'fas' %} {% trans "Continue" %}
        </button>

        <a href="{% url 'admin:new_event_wizard_start' %}" class="btn btn-info">
            {% fa6_icon "chevron-left" 'fas' %} {% trans "Back" %}
        </a>
        <a href="{% url 'admin:index' %}" class="btn btn-warning">
            {% fa6_icon "times" 'fas' %} {% trans "Cancel" %}
        </a>
    </form>

    {% endtimezone %}
{% endblock %}
