{% extends "admin/base_site.html" %}

{% load tz %}

{% load i18n %}
{% load django_bootstrap5 %}
{% load fontawesome_6 %}

{% block content %}
  {% include "AKModel/load_fullcalendar_availabilities.html" %}

  <script>
    {% get_current_language as LANGUAGE_CODE %}

    document.addEventListener('DOMContentLoaded', function () {
      createAvailabilityEditors(
        '{{ event.timezone }}',
        '{{ LANGUAGE_CODE }}',
        '{{ event.start | timezone:event.timezone | date:"Y-m-d H:i:s" }}',
        '{{ event.end | timezone:event.timezone | date:"Y-m-d H:i:s" }}'
      );
    });
  </script>
  <form method="POST" class="post-form">{% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="save btn btn-primary float-end">
      {% fa6_icon "check" 'fas' %} {% trans "Continue" %}
    </button>

    <button type="reset" class="btn btn-danger">
      {% fa6_icon "undo-alt" 'fas' %} {% trans "Reset Form" %}
    </button>

    <a href="{{ ak.detail_url }}" class="btn btn-secondary">
      {% fa6_icon "times" 'fas' %} {% trans "Cancel" %}
    </a>
  </form>
{% endblock %}
