{% extends "admin/base_site.html" %}
{% load compress %}

{% load django_bootstrap5 %}
{% load fontawesome_6 %}
{% load tags_AKModel %}
{% load static %}

{% block stylesheet %}{% endblock %}

{% block extrastyle %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'common/vendor/bootswatch-lumen/theme.scss' %}">
        {% fontawesome_6_css %}
        <link rel="stylesheet" href="{% static "admin/css/base.css" %}" />
        {% if not debug %}
            <link rel="stylesheet" type="text/css" href="{% static "common/css/admin-color.css" %}"/>
        {% endif %}
        <style>
        a.btn {
            color: #FFFFFF;
        }

        .block-header {
            margin-top: 20px;
        }
        .deleteEvent {
            background-color: #6a6a6a !important;
        }

        .deleteEvent .fc-event-title {
            font-size: 5vw;
            text-align: center;
        }
        </style>
    {% endcompress %}
{% endblock %}

{% block extrahead %}
    <!-- Load bootstrap, jquery and fontawesome-->
    {% compress js %}
        {% bootstrap_javascript %}
        <script src="{% static 'common/vendor/jquery/jquery-3.6.3.min.js' %}"></script>
        {% fontawesome_6_js %}
    {% endcompress %}
{% endblock %}
