{% extends "admin/base_site.html" %}

{% load django_bootstrap5 %}
{% load fontawesome_5 %}
{% load static %}

{% block stylesheet %}{% static "common/css/admin-bootstrap.css" %}{% endblock %}

{% block extrastyle %}
    {% if not debug %}
        <link rel="stylesheet" type="text/css" href="{% static "common/css/admin-color.css" %}"/>
    {% endif %}
{% endblock %}

{% block extrahead %}
    <!-- Load bootstrap, jquery and fontawesome-->
    {% bootstrap_javascript %}
    <script src="{% static 'common/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    {% fontawesome_5_static %}

    <style>
        a.btn {
            color: #FFFFFF;
        }

        .block-header {
            margin-top: 20px;
        }
    </style>
{% endblock %}
