{% load i18n %}
{% load tags_AKModel %}
{% load fontawesome_6 %}

<h3><a href="{% url 'dashboard:dashboard_event' slug=event.slug %}">{{ event.name }}</a>
    <span class="text-muted">
        &middot;
        {% if event.place %}
            {{ event.place }} &middot;
        {% endif %}
        {{ event | event_month_year }}
    </span>
</h3>
<div class="mt-2">
    {% if 'AKSubmission'|check_app_installed %}
        <a class="btn btn-primary"
           href="{% url 'submit:ak_list' event_slug=event.slug %}">
            <div class="col-sm-12 col-md-3 col-lg-2 dashboard-button">
                <span class="fa fa-list-ul"></span>
                <span class='text'>{% trans 'AK List' %}</span>
            </div>
        </a>
    {% endif %}
    {% if 'AKPlan'|check_app_installed %}
        {% if not event.plan_hidden or user.is_staff %}
            <a class="btn btn-primary"
               href="{% url 'plan:plan_overview' event_slug=event.slug %}">
                <div class="col-sm-12 col-md-3 col-lg-2 dashboard-button">
                    <span class="fa fa-calendar-alt"></span>
                    <span class='text'>{% trans 'Schedule' %}</span>
                </div>
            </a>
        {% endif %}
    {% endif %}
    <a class="btn btn-primary"
       href="{% url 'dashboard:dashboard_event' slug=event.slug %}#history">
        <div class="col-sm-12 col-md-3 col-lg-2 dashboard-button">
            <span class="fa fa-history"></span>
            <span class='text'>{% trans 'AK History' %}</span>
        </div>
    </a>
    {% for button in event.dashboardbutton_set.all %}
        <a class="btn btn-{{ button.get_color_display }}"
           href="{{ button.url }}">
            <div class="col-sm-12 col-md-3 col-lg-2 dashboard-button">
                {% if button.icon %}<span class="fa">{{ button.icon.as_html }}</span>{% endif %}
                <span class='text'>{{ button.text }}</span>
            </div>
        </a>
    {% endfor %}
    <a class="btn btn-info"
       href=mailto:{{ event.contact_email }}"
       title="{% trans 'Write to organizers of this event for questions and comments' %}">
            {% fa6_icon "envelope" "fas" %}
    </a>
</div>
