{% extends 'base.html' %}

{% load fontawesome_5 %}
{% load i18n %}
{% load static %}

{% block imports %}

    {{ block.super }}

    <link rel="stylesheet" href="{% static 'AKDashboard/style.css' %}">

{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item">AKPlanning</li>
{% endblock %}

{% block content %}
    {% for event in events %}
        <div class="dashboard-row">
            {% include "AKDashboard/dashboard_row.html" %}
            {% if event.contact_email %}
                <p>
                    <a href="mailto:{{ event.contact_email }}">{% fa5_icon "envelope" "fas" %} {% trans "Write to organizers of this event for questions and comments" %}</a>
                </p>
            {% endif %}
        </div>
    {% empty %}
        <div class="jumbotron">
            <h2 class="display-4">
                {% trans 'Currently, there are no Events!' %}
            </h2>
            <p class="lead">
                {% trans 'Please contact an administrator if you want to use AKPlanning.' %}
            </p>
        </div>
    {% endfor %}
{% endblock %}
