{% load i18n %}
{% load tags_AKModel %}
{% load fontawesome_6 %}

<h2><a href="{% url 'dashboard:dashboard_event' slug=event.slug %}">{{ event.name }}</a></h2>
<div class="mt-2">
    {% if 'AKSubmission'|check_app_installed %}
        <a class="dashboard-box btn btn-primary"
           href="{% url 'submit:ak_list' event_slug=event.slug %}">
            <div class="col-sm-12 col-md-3 col-lg-2 dashboard-button">
                <span class="fa fa-list-ul"></span>
                <span class='text'>{% trans 'AK List' %}</span>
            </div>
        </a>
    {% endif %}
    {% if 'AKPlan'|check_app_installed %}
        {% if not event.plan_hidden or user.is_staff %}
            {% if event.active %}
                <a class="dashboard-box btn btn-primary"
                   href="{% url 'plan:plan_overview' event_slug=event.slug %}">
                    <div class="col-sm-12 col-md-3 col-lg-2 dashboard-button">
                        <span class="fa fa-clock"></span>
                        <span class='text'>{% trans 'Current AKs' %}</span>
                    </div>
                </a>
                <a class="dashboard-box btn btn-primary"
                   href="{% url 'plan:plan_wall' event_slug=event.slug %}">
                    <div class="col-sm-12 col-md-3 col-lg-2 dashboard-button">
                        <span class="fa fa-calendar"></span>
                        <span class='text'>{% trans 'AK Wall' %}</span>
                    </div>
                </a>
            {% else %}
                <a class="dashboard-box btn btn-primary"
                   href="{% url 'plan:plan_overview' event_slug=event.slug %}">
                    <div class="col-sm-12 col-md-3 col-lg-2 dashboard-button">
                        <span class="fa fa-calendar-alt"></span>
                        <span class='text'>{% trans 'Schedule' %}</span>
                    </div>
                </a>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if 'AKSubmission'|check_app_installed and event.active %}
        <a class="dashboard-box btn btn-primary"
           href="{% url 'submit:submission_overview' event_slug=event.slug %}">
            <div class="col-sm-12 col-md-3 col-lg-2 dashboard-button">
                <span class="fa fa-pencil-alt"></span>
                <span class='text'>{% trans 'AK Submission' %}</span>
            </div>
        </a>
    {% endif %}
    <a class="dashboard-box btn btn-primary"
       href="{% url 'dashboard:dashboard_event' slug=event.slug %}#history">
        <div class="col-sm-12 col-md-3 col-lg-2 dashboard-button">
            <span class="fa fa-history"></span>
            <span class='text'>{% trans 'AK History' %}</span>
        </div>
    </a>
    {% for button in event.dashboardbutton_set.all %}
        <a class="dashboard-box btn btn-{{ button.get_color_display }}"
           href="{{ button.url }}">
            <div class="col-sm-12 col-md-3 col-lg-2 dashboard-button">
                {% if button.icon %}<span class="fa">{{ button.icon.as_html }}</span>{% endif %}
                <span class='text'>{{ button.text }}</span>
            </div>
        </a>
    {% endfor %}
</div>
