{% extends "admin/index.html" %}

{% load i18n tz %}

{% block content %}
    <div style="margin-bottom: 20px;">
        <h2>{% trans "Active Events" %}:</h2>

        <ul>
            {% for event in active_events %}
                <li>
                    <a href="{% url 'admin:AKModel_event_change' event.pk %}">{{ event }}</a>
                    ({{ event.start|timezone:event.timezone|date:"d.m.y" }} -
                    {{ event.end|timezone:event.timezone|date:"d.m.y" }}) &middot;
                    <a href="{% url 'admin:event_status' event_slug=event.slug %}">{% trans "Status" %}</a> &middot;
                    <a href="{% url 'admin:schedule' event_slug=event.slug %}">{% trans "Scheduling" %}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {{ block.super }}
{% endblock %}
