{% extends "admin/index.html" %}

{% load i18n tz %}

{% block content %}
    <div style="margin-bottom: 20px;">
        <h2>{% trans "Active Events" %}:</h2>

        <ul>
            {% for event in active_events %}
                <li>
                    {{ event }}
                    ({{ event.start|timezone:event.timezone|date:"d.m.y"}} -
                    {{ event.end|timezone:event.timezone|date:"d.m.y"}})
                </li>
           {% endfor %}
        </ul>
    </div>
{{ block.super }}
{% endblock %}
