{% load tz %}
{% load tags_AKPlan %}

[
    {% for slot in slots %}
        {% if slot.start %}
            {
                'title': '{{ slot.ak.name }}',
                'start': '{{ slot.start | timezone:event.timezone | date:"Y-m-d H:i:s" }}',
                'end': '{{ slot.end | timezone:event.timezone | date:"Y-m-d H:i:s" }}',
                'resourceId': '{{ slot.room.title }}',
                'backgroundColor': '{{ slot|highlight_change_colors }}',
                'borderColor': '{{ slot.ak.category.color }}',
                'url': '{% url 'submit:ak_detail' event_slug=event.slug pk=slot.ak.pk %}'
            },
        {% endif %}
    {% endfor %}
]
