{% extends "AKPlan/plan_base.html" %}

{% load fontawesome_5 %}
{% load i18n %}
{% load static %}
{% load tz %}


{% block fullcalendar %}
    {% get_current_language as LANGUAGE_CODE %}

    <link href='{% static 'AKPlan/fullcalendar/daygrid/main.min.css' %}' rel='stylesheet' />
    <link href='{% static 'AKPlan/fullcalendar/timegrid/main.min.css' %}' rel='stylesheet' />

    <script src='{% static 'AKPlan/fullcalendar/daygrid/main.min.js' %}'></script>
    <script src='{% static 'AKPlan/fullcalendar/timegrid/main.min.js' %}'></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('planCalendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'timeGrid', 'bootstrap' ],
            // Adapt to timezone of the connected event
            timeZone: '{{ event.timezone }}',
            defaultView: 'timeGrid',
            // Adapt to user selected locale
            locale: '{{ LANGUAGE_CODE }}',
            // No header, not buttons
            header: {
                left: '',
                center: '',
                right: ''
            },
            aspectRatio: 2,
            themeSystem: 'bootstrap',
            // Only show calendar view for the dates of the connected event
            visibleRange: {
                start: '{{ event.start | timezone:event.timezone | date:"Y-m-d H:i:s" }}',
                end: '{{ event.end | timezone:event.timezone  | date:"Y-m-d H:i:s"}}',
            },
            allDaySlot: false,
            nowIndicator: true,
            eventTextColor: '#fff',
            eventColor: '#127ba3',
            // Create entries for all scheduled slots
            events: {% block encode %}{% endblock %}
        });

        calendar.render();
    });
    </script>
{% endblock %}
