{% extends "base.html" %}

{% load fontawesome_5 %}
{% load i18n %}
{% load static %}

{% block meta %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ event.name }} - {% trans "Plan" %}" />
{% endblock %}

{% block imports %}
    {% get_current_language as LANGUAGE_CODE %}

    <script src='{% static 'AKPlan/vendor/fullcalendar-scheduler/main.js' %}'></script>
    <link href='{% static 'AKPlan/vendor/fullcalendar-scheduler/main.css' %}' rel='stylesheet'/>

    {% with 'AKPlan/vendor/fullcalendar-scheduler/locales/'|add:LANGUAGE_CODE|add:'.js' as locale_file %}
        <script src="{% static locale_file %}"></script>
    {% endwith %}

    {% block fullcalendar %}{% endblock %}
{% endblock imports %}

{% block footer_custom %}
    {% if event.contact_email %}
        <h4>
            <a href="mailto:{{ event.contact_email }}">{% fa5_icon "envelope" "far" %} {% trans "Write to organizers of this event for questions and comments" %}</a>
        </h4>
    {% endif %}
{% endblock %}
