{% extends "AKPlan/plan_base.html" %}

{% load fontawesome_5 %}
{% load i18n %}
{% load static %}
{% load tz %}
{% load tags_AKPlan %}


{% block fullcalendar %}
    {% if not event.plan_hidden or user.is_staff %}
        {% get_current_language as LANGUAGE_CODE %}

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('planCalendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    // Adapt to timezone of the connected event
                    timeZone: '{{ event.timezone }}',
                    initialView: 'timeGrid',
                    // Adapt to user selected locale
                    locale: '{{ LANGUAGE_CODE }}',
                    // No header, not buttons
                    headerToolbar: {
                        left: '',
                        center: '',
                        right: ''
                    },
                    aspectRatio: 2,
                    themeSystem: 'bootstrap5',
                    // Only show calendar view for the dates of the connected event
                    visibleRange: {
                        start: '{{ event.start | timezone:event.timezone | date:"Y-m-d H:i:s" }}',
                        end: '{{ event.end | timezone:event.timezone  | date:"Y-m-d H:i:s"}}',
                    },
                    scrollTime: '08:00:00',
                    allDaySlot: false,
                    nowIndicator: true,
                    now: "{% timestamp_now event.timezone %}",
                    eventTextColor: '#fff',
                    eventColor: '#127ba3',
                    // Create entries for all scheduled slots
                    events: {% block encode %}{% endblock %},
                    schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
                });

                calendar.render();
            });
        </script>
    {% endif %}
{% endblock %}
