{% extends "AKPlan/plan_detail.html" %}
{% load fontawesome_5 %}
{% load tags_AKModel %}

{% load tz %}
{% load i18n %}

{% block breadcrumbs %}
    {% include "AKPlan/plan_breadcrumbs.html" %}
    <li class="breadcrumb-item">
        <a href="{% url 'plan:plan_overview' event_slug=event.slug %}">{% trans "AK Plan" %}</a>
    </li>
    <li class="breadcrumb-item">{% trans "Room" %}: {{ room.title }}</li>
{% endblock %}


{% block encode %}
[
    {% for slot in room.akslot_set.all %}
        {% if slot.start %}
            {'title': '{{ slot.ak }}',
            'start': '{{ slot.start | timezone:event.timezone | date:"Y-m-d H:i:s" }}',
            'end': '{{ slot.end | timezone:event.timezone | date:"Y-m-d H:i:s" }}',
            'url': '{% url 'submit:ak_detail' event_slug=event.slug pk=slot.ak.pk %}',
            'borderColor': '{{ slot.ak.track.color }}',
            'color': '{{ slot.ak.category.color }}',
            },
        {% endif %}
    {% endfor %}
]
{% endblock %}


{% block content %}
    <div class="float-right">
        <ul class="nav nav-pills">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Rooms" %}</a>
            <div class="dropdown-menu" style="">
                {% for r in event.room_set.all %}
                    <a class="dropdown-item" href="{% url "plan:plan_room" event_slug=event.slug pk=r.pk %}">{{ r }}</a>
                {% endfor %}
            </div>
          </li>
        </ul>
    </div>

    <h1>{% trans "Room" %}: {{ room.name }} {% if room.location != '' %}({{ room.location }}){% endif %}</h1>

    {% if "AKOnline"|check_app_installed and room.virtualroom and room.virtualroom.url != '' %}
        <a class="btn btn-success" href="{{ room.virtualroom.url }}">
            {% fa5_icon 'external-link-alt' 'fas' %} {% trans "Go to virtual room" %}
        </a>
    {% endif %}

    {% if not event.plan_hidden or user.is_staff %}
        {% timezone event.timezone %}
            <div class="row" style="margin-top:30px;clear:both;">
                <div class="col-md-12">
                    <div id="planCalendar"></div>
                </div>
            </div>
        {% endtimezone %}
    {% else %}
        <div class="alert alert-warning mt-3">
            <p class="mb-0">{% trans "Plan is not visible (yet)." %}</p>
        </div>
    {% endif %}

    <table class="table table-borderless" style="margin-top: 30px;">
        <tbody>
            <tr>
                <td>{% trans "Capacity" %}:</td><td>{{ room.capacity }}</td>
            </tr>
            {% if room.properties.count > 0 %}
                <tr>
                    <td>{% trans "Properties" %}:</td>
                    <td>
                        {% for property in room.properties.all %}
                            {% if forloop.counter0 > 0 %}
                                ,&nbsp;
                            {% endif %}
                            {{ property }}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
