{% extends "base.html" %}

{% load fontawesome_5 %}
{% load i18n %}
{% load static %}

{% block meta %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ event.name }} - {% trans "Plan" %}" />
{% endblock %}

{% block imports %}
    {% include "AKPlan/load_fullcalendar.html" %}

    {% block fullcalendar %}{% endblock %}
{% endblock imports %}

{% block footer_custom %}
    {% if event.contact_email %}
        <h4>
            <a href="mailto:{{ event.contact_email }}">{% fa5_icon "envelope" "far" %} {% trans "Write to organizers of this event for questions and comments" %}</a>
        </h4>
    {% endif %}
{% endblock %}
