{% load i18n %}


<table class="table table-striped">
    {% for akslot in slots %}
    <tr>
        <td><b><a href="{% url 'submit:ak_detail' event_slug=event.slug pk=akslot.ak.pk %}">{{ akslot.ak.name }}</a></b></td>
        <td>{{ akslot.start | time:"H:i" }} - {{ akslot.end | time:"H:i" }}</td>
        <td>{% if akslot.room and akslot.room.pk != '' %}
            <a href="{% url 'plan:plan_room' event_slug=event.slug pk=akslot.room.pk %}">{{ akslot.room }}</a>
        {% endif %}</td>
    </tr>
    {% empty %}
        {% trans "No AKs" %}
    {% endfor %}
</table>
