html {
    /* influence the base font size bootstrap uses for all further calculation of sizes
    to reduce the overall size a little bit */
    font-size: 13.5px;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    text-decoration: underline;
}

a:hover.btn {
    text-decoration: none;
}

.form-group.required {
    font-weight: bold;
}

.form-text.text-muted {
    font-size: 12px;
}

#id_description {
    height: 2.5lh;
}

#id_info {
    height: 7lh;
}

#id_notes {
    height: 5lh;
}

#id_durations {
    height: 2.5lh;
}

#id_category {
    width: 150px;
}

#id_present {
    width: 150px;
}

.breakWord {
    word-break: normal;
    overflow-wrap: anywhere;
}

.deleteEvent {
    background-color: #6a6a6a !important;
}

.deleteEvent .fc-event-title {
    font-size: 5vw;
    text-align: center;
}

.position-responsive {
    position: static;
}

/* For Mobile/smaller screen-sizes */
@media (max-width: 767.98px) {
    /* btn behaves like btn-lg */
    .btn {
        padding: var(--bs-btn-padding-y-lg, 0.7rem) var(--bs-btn-padding-x-lg, 1rem);
        font-size: var(--bs-btn-font-size-lg, 1.125rem);
        line-height: var(--bs-btn-line-height-lg, 1.2);
        border-radius: var(--bs-btn-border-radius-lg, 0.5rem);
    }

}

@media (max-width: 576px) {
    .btn-lang {
        padding: 0.3rem 0.5rem;
    }
    .position-responsive {
        position: absolute;
        top: 0;
        right: 0;
    }

    .breadcrumb-mobile {
        width: calc(100% - 3.5rem)
    }
}