html {
    /* influence the base font size bootstrap uses for all further calculation of sizes
    to reduce the overall size a little bit */
    font-size: 13.5px;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    text-decoration: underline;
}

a:hover.btn {
    text-decoration: none;
}

.form-group.required {
    font-weight: bold;
}

.form-text.text-muted {
    font-size: 12px;
}

#id_description {
    height: 100px;
}

#id_notes {
    height: 150px;
}

#id_durations {
    height: 75px;
}

#id_category {
    width: 150px;
}

#id_present {
    width: 150px;
}

.breakWord {
    word-break: normal;
    overflow-wrap: anywhere;
}

.deleteEvent {
    background-color: #6a6a6a !important;
}

.deleteEvent .fc-event-title {
    font-size: 5vw;
    text-align: center;
}
