{% extends "admin/base_site.html" %}
{% load tags_AKModel %}

{% load i18n %}
{% load l10n %}
{% load tz %}
{% load static %}
{% load tags_AKPlan %}
{% load fontawesome_6 %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h4 class="mt-4 mb-4">{% trans "AKs with public notes" %}</h4>
    {% for ak in aks_with_comment %}
        <a href="{{ ak.detail_url }}">{{ ak }}</a>
        <a href="{{ ak.edit_url }}">{% fa6_icon "pen-to-square" %}</a>
        <a class="link-warning" href="{% url "admin:AKModel_ak_change" object_id=ak.pk %}">{% fa6_icon "pen-to-square" %}</a><br>
        {{ ak.notes }}<br><br>
    {% empty %}
        -
    {% endfor %}

    <h4 class="mt-4 mb-4">{% trans "AKs without availabilities" %}</h4>
    {% for ak in aks_without_availabilities %}
        <a href="{{ ak.detail_url }}">{{ ak }}</a>
        <a href="{{ ak.edit_url }}">{% fa6_icon "pen-to-square" %}</a>
        <a class="link-warning" href="{% url "admin:AKModel_ak_change" object_id=ak.pk %}">{% fa6_icon "pen-to-square" %}</a><br>
    {% empty %}
        -<br>
    {% endfor %}

    <a class="btn btn-warning mt-2" href="{% url "admin:autocreate-availabilities" event_slug=event.slug %}">{% trans "Create default availabilities" %}</a>


    <h4 class="mt-4 mb-4">{% trans "AK wishes with slots" %}</h4>
    {% for ak in ak_wishes_with_slots %}
        <a href="{% url "admin:AKModel_akslot_changelist" %}?ak={{ ak.pk }}">({{ ak.akslot__count }})</a>
        <a href="{{ ak.detail_url }}">{{ ak }}</a>
        <a href="{{ ak.edit_url }}">{% fa6_icon "pen-to-square" %}</a>
        <a class="link-warning" href="{% url "admin:AKModel_ak_change" object_id=ak.pk %}">{% fa6_icon "pen-to-square" %}</a><br>
    {% empty %}
        -<br>
    {% endfor %}

    <a class="btn btn-warning mt-2" href="{% url "admin:cleanup-wish-slots" event_slug=event.slug %}">{% trans "Delete slots for wishes" %}</a>

    <h4 class="mt-4 mb-4">{% trans "AKs without slots" %}</h4>
    {% for ak in aks_without_slots %}
        <a href="{{ ak.detail_url }}">{{ ak }}</a>
        <a href="{{ ak.edit_url }}">{% fa6_icon "pen-to-square" %}</a>
        <a class="link-warning" href="{% url "admin:AKModel_ak_change" object_id=ak.pk %}">{% fa6_icon "pen-to-square" %}</a><br>
    {% empty %}
        -<br>
    {% endfor %}

    <h4 class="mt-4 mb-4">{% trans "AKs that have requirements not met by any room" %}</h4>
    <ul>
        {% for ak in aks_unfulfillable_requirements %}
            <li>
                <a href="{{ ak.detail_url }}">{{ ak }}</a>
                <a href="{{ ak.edit_url }}">{% fa6_icon "pen-to-square" %}</a>
                <a class="link-warning" href="{% url "admin:AKModel_ak_change" object_id=ak.pk %}">{% fa6_icon "pen-to-square" %}</a>
                <ul>
                    {% for req in ak.requirements.all %}
                        <li>{{ req }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li>-</li>
        {% endfor %}
    </ul>

    <h4 class="mt-4 mb-4">{% trans "AKs that cannot be put in any default slot" %}</h4>
    <ul>
        {% for ak in aks_no_default_slot %}
            <li>
                <a href="{{ ak.detail_url }}">{{ ak }} ({{ ak.durations_list }})</a>
                <a href="{{ ak.edit_url }}">{% fa6_icon "pen-to-square" %}</a>
                <a class="link-warning" href="{% url "admin:AKModel_ak_change" object_id=ak.pk %}">{% fa6_icon "pen-to-square" %}</a>
            </li>
        {% empty %}
            <li>-</li>
        {% endfor %}
    </ul>

    <h4 class="mt-4 mb-4">{% trans "AKs that cannot be put a default slot of their category" %}</h4>
    <ul>
        {% for ak in aks_no_default_slot_for_category %}
            <li>
                <a href="{{ ak.detail_url }}">{{ ak }} ({{ ak.category }})</a>
                <a href="{{ ak.edit_url }}">{% fa6_icon "pen-to-square" %}</a>
                <a class="link-warning" href="{% url "admin:AKModel_ak_change" object_id=ak.pk %}">{% fa6_icon "pen-to-square" %}</a>
            </li>
        {% empty %}
            <li>-</li>
        {% endfor %}
    </ul>

    <div class="mt-5">
        <a href="{% url 'admin:event_status' event.slug %}">{% trans "Event Status" %}</a>
    </div>
{% endblock %}
