{% extends "admin/AKModel/action_intermediate.html" %}
{% load tags_AKModel %}
{% load i18n admin_urls %}
{% load static %}
{% load django_bootstrap5 %}
{% load tz %}

{% block extrahead %}
    {{ block.super }}
    {% bootstrap_javascript %}
    <script src="{% static 'common/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    {% include "AKModel/load_fullcalendar_availabilities.html" %}

    <script>
        {% get_current_language as LANGUAGE_CODE %}

        document.addEventListener('DOMContentLoaded', function () {
            createAvailabilityEditors(
                '{{ event.timezone }}',
                '{{ LANGUAGE_CODE }}',
                '{{ event.start | timezone:event.timezone | date:"Y-m-d H:i:s" }}',
                '{{ event.end | timezone:event.timezone | date:"Y-m-d H:i:s" }}',
                '00:15:00'
            );
        });
    </script>
{% endblock %}

{% block action_preview %}
    <h3>{{ event.name }}</h3>
{% endblock %}

