{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% load static %}
{% load bootstrap4 %}
{% load tz %}

{% block extrahead %}
    {{ block.super }}
    {% bootstrap_javascript jquery='slim' %}
    {% include "AKPlan/load_fullcalendar.html" %}
    <script src="{% static "common/js/availabilities.js" %}"></script>
    <script>
        {% get_current_language as LANGUAGE_CODE %}

        document.addEventListener('DOMContentLoaded', function () {
            createAvailabilityEditors(
                '{{ original.event.timezone }}',
                '{{ LANGUAGE_CODE }}',
                '{{ original.event.start | timezone:original.event.timezone | date:"Y-m-d H:i:s" }}',
                '{{ original.event.end | timezone:original.event.timezone | date:"Y-m-d H:i:s" }}'
            );
        });
    </script>
{% endblock %}
