{% extends "admin/base_site.html" %}

{% block content %}

{% regroup AKs by category as ak_list %}

{% for category_aks in ak_list %}
<h3>{{ category_aks.grouper }}</h3>
<textarea style="width: 100%;height:30vh;">{% for ak in category_aks.list %}
{% verbatim %}{{{% endverbatim %}
{{ ak.event.wiki_export_template_name }}
| name={{ ak.name }}
| beschreibung= {{ ak.description }}
| wieviele={{ ak.interest_counter }}
| wer={{ ak.owners_list }}
| wann=
| dauer={{ ak.durations_list }}
| reso={{ ak.reso }}
| vorstellung={{ ak.present }}
{% verbatim %}}}{% endverbatim %}
{% endfor %}</textarea>
{% endfor %}

{% endblock %}
