.dashboard-row {
    margin-bottom: 5em;
}

.dashboard-row > .row {
    margin-left: 0;
    padding-bottom: 1em;
}

.dashboard-box .fa {
    font-size: 26pt;
}

.dashboard-box span.text {
    display: block;
    padding-top: 10px;
    font-size: 12pt;
}

.dashboard-box {
    padding: 2em;
    margin-right: 1em;
    min-width: 15em;
    margin-bottom: 1em;
}

.dashboard-button {
    display: inline;
    padding: 0;
}

#recent-changes-list {
    list-style-type:none;
    padding-left: 0;
    line-height: 220%;
}

#recent-changes-list li {
    font-size: 120%;
    font-family:monospace;
}

#recent-changes-list a {
    text-decoration: none;
    color: #555555;
    font-weight: bold;
}
